In [5]:
#question 1
#"1. In the below elements which of them are values or an expression? eg:- values can be
#integer or string and expressions will be mathematical operators.
# *
# &#39;hello&#39;
# -87.8
# -
# /
# +
# 6

In [6]:
#Answer 1

#  * - Expression (mathematical operator)
#  'hello' - Value (string)
#  -87.8 - Value (floating-point number)
#  - - Expression (mathematical operator)
#  / - Expression (mathematical operator)
#  + - Expression (mathematical operator)
#  6 - Value (integer)

In [7]:
# 2. What is the difference between string and variable?

In [8]:
#  String: A sequence of characters enclosed in quotes (e.g., "hello"). It represents text.

#  Variable: A named storage that holds data which can be a string, number, or any other type. It can change value over time (e.g., x = 5 or name = "Alice").

In [9]:
# 3. Describe three different data types.

In [10]:
# Here are three different data types:

#Integer (int):Represents whole numbers without any fractional part.
#Example: 1, 42, -99.

#Float (floating-point number):Represents numbers with a fractional part, using a decimal point.
#Example: 3.14, -0.001.

#String (str):Represents sequences of characters, used to store text.
#Example: "hello", "123".

In [12]:
# 4. What is an expression made up of? What do all expressions do?

In [15]:

# An expression is made up of:

# Values: These can be constants like numbers or strings.
# Example: 5, "hello"
# Variables: Names that refer to data stored in memory.
# Example: x, total
# Operators: Symbols that perform operations on values and variables.
# Example: +, -, *, /
# Function calls: Invocations of functions that return values.
# Example: len("text"), math.sqrt(16)

In [17]:
#5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?
# The difference between an expression and a statement is:

# Expression: A combination of values, variables, operators, and function calls that evaluates to a single value. Expressions can be part of statements.

# Example: 2 + 3, spam * 2, len("hello")
# Statement: A complete unit of code that performs an action. Statements can include expressions and do not necessarily produce a value.

# Example: spam = 10 (assignment statement), print("hello") (function call statement), if condition: pass (control flow statement)
# In the example spam = 10:

# The entire line is a statement.

In [18]:
# 6. After running the following code, what does the variable bacon contain?
# bacon = 22
# bacon + 1

In [19]:
# The variable bacon will still contain the value 22. This is because the expression bacon + 1 evaluates to 23, but it does not modify the variable bacon. To change the value of bacon, you would need an assignment statement like bacon = bacon + 1.

In [20]:
# 7. What should the values of the following two terms be?
# &#39;spam&#39; + &#39;spamspam&#39;
# &#39;spam&#39; * 3

In [21]:
# The values of the following two terms will be:

# 'spam' + 'spamspam':

# The value will be the concatenation of the two strings.
# Result: 'spamspamspam'
# 'spam' * 3:

# The value will be the string 'spam' repeated 3 times.
# Result: 'spamspamspam'

In [22]:
# 8. Why is eggs a valid variable name while 100 is invalid?

In [23]:
# eggs is a valid variable name while 100 is invalid because:

# Variable names must start with a letter (a-z, A-Z) or an underscore (_). They can contain letters, digits (0-9), and underscores, but they cannot start with a digit.
# eggs follows these rules, starting with a letter.
# 100 does not follow these rules because it starts with a digit.

In [24]:
# 9. What three functions can be used to get the integer, floating-point number, or string
# version of a value?

In [25]:
# The three functions that can be used to convert a value to an integer, floating-point number, or string in Python are:

# int(): Converts a value to an integer.

# Example: int('10') converts the string '10' to the integer 10.
# float(): Converts a value to a floating-point number.

# Example: float('10.5') converts the string '10.5' to the float 10.5.
# str(): Converts a value to a string.

# Example: str(10) converts the integer 10 to the string '10'.

In [26]:
# 10. Why does this expression cause an error? How can you fix it?
# &#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

In [27]:
# The expression 'I have eaten ' + 99 + ' burritos.' causes an error because it attempts to concatenate a string ('I have eaten ') with an integer (99), which is not allowed in Python.

# To fix the error, you need to convert the integer 99 to a string using the str() function. Here is the corrected expression:

'I have eaten ' + str(99) + ' burritos.'

'I have eaten 99 burritos.'